@import "./colors.scss";

.auth-screen {
  display: flex;
  flex-direction: column;
  padding: 30px 10px;
  background-color: $white-yellow;
  height: 100vh;

  .auth-container {
    z-index: 1;
    .auth-back {
      align-items: center;
      display: flex;
      position: fixed;
      top: 5px;
    }
  
    .auth-fields {
      display: flex;
      flex-direction: column;
      padding: 30px 20px;
      .auth-field {
        margin: 8px 0;
      }
    }
  
    .auth-button {
      border-radius: 25px;
      background-color: $pink-red;
      height: 55px;
    }
  
    .auth-header {
      margin-bottom: 30%;
      display: flex;
      justify-content: center;
      font-size: 1.2em;
      &.less-margin {
        margin-bottom: 15%;
      }
      > h2 {
        color: $teal;
      }
    }
  
    .signup-text {
      display: flex;
      justify-content: center;
      align-items: center;
      .signup-link {
        text-decoration: underline;
      }
    }
  }
  

  .footer-waves, .login-icon, .signup-icon {
    position: fixed;
    &.footer-waves {
      bottom: 0;
      left: 0;
    }
    &.top {
      right: -40%;
      top: -45%;
      @media screen and (max-width: 430px){
        right: 0;
        top: 0;
      }
    }
      &.bottom {
        left: -40%;
        bottom: -40%;
        @media screen and (max-width: 430px){
          left: 0;
          bottom: 0;
      }
    }
    &.left {
      top: 0;
      left: 0;
      @media screen and (min-width: 430px){
        left: -40%;
      }
    }
    &.right {
      bottom: 0;
      @media screen and (min-width: 430px){
        right: -40%;
        bottom: -40%;
      }
      
    }
    @media screen and (max-width: 430px){
      &.dark-waves {
        max-height: 25%;
        &.shorter {
          max-height: 20%;
        }
      }
      &.light-waves {
        max-height: 20%;
      }
    }
    @media screen and (min-width: 430px){
      width: 100%;
    }
  }
}
