// reserved variables

$primary: $blue;
$secondary: $orange;
$tertiary: $pink-red;

$text: $black;


// color variables
//  organized alphabetically by color then prefix i.e. dark, light, white

$black: #000000;

$blue: #048BA8;

$green-light: #CDEAC0;

$orange: #FFC24B;

$pink-red: #F47068;
$pink-red-light: #FFB3AE;
$pink-red-white: #FFF4F1;

$teal-dark: #0E606B;
$teal: #1697A6;

$yellow-light: #FDFCDC;
