// color variables
//  organized alphabetically by color then prefix i.e. dark, light, white

$black: #000000;
$black-grey: #4a4a4a;

$blue: #048ba8;

$green-light: #cdeac0;

$grey-dark: #525151;
$grey-medium: #909090;
$grey-light: #ececec;

$orange: #ffc24b;

$pink-red: #f47068;
$pink-red-light: #ffb3ae;
$pink-red-white: #fff4f1;

$teal-dark: #0e606b;
$teal: #1697a6;

$white: #ffffff;
$white-yellow: #fff8f6;

$yellow-light: #fdfcdc;

// reserved variables

$primary: $blue;
$secondary: $orange;
$tertiary: $pink-red;

$text: $black-grey;

$page-bg: $white-yellow;
