@import './colors.scss';

.home-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 1;
    .activity-list {
        display: flex;
        flex-direction: column;
        padding-bottom: 80px;
        .activity-post {
            display: flex;
            flex-direction: column;
            padding: 15px 0;
            .post-header {
                display: flex;
                padding: 0px 10px;
                justify-content: center;
                align-items: center;
                .avatar {
                    height: 80px;
                    width: 80px;
                }
                .activity-metric {
                    display: flex;
                    flex-direction: column;
                    margin-left: auto;
                    align-items: center;
                }
            }
        }
        .activity-actions {
            display: flex;
            align-content: flex-start;
            padding: 5px 10px;
            .activity-timeline {
                margin-left: auto;
            }
        }
        .activity-description{
            padding: 0 15px;
        }
        
        .activity-link {
            display: flex;
            align-content: center;
            justify-content: center;
            .activity-button {
                display: flex;
                align-content: center;
                background-color: $pink-red;
                padding: 15px 20px;
                border-radius: 49px;
                color: $white;
                .button-text {
                    display: flex;
                    flex-direction: column;
                    color: $white;
                }
            }
        }
    }
}