@import "./colors.scss";

.message-window {
  min-height: 100vh;
  .message-header {
    height: 100px;
    width: 100%;
    border-bottom: 1.5px solid $grey-light;
    display: flex;
    align-items: center;
    .back-button {
      padding: 0 10px;
    }
    .profile-link {
      display: flex;
      margin-left: auto;
      align-items: center;
    }
  }
  .message-compose {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    width: 100%;
    background-color: $white-yellow;
    padding: 20px;
    display: flex;
    .compose-container {
      display: flex;
      background-color: $grey-light;
      width: 100%;
      height: 100%;
      .send-button {
        margin-left: auto;
      }
      .message-textbox {
        flex-grow: 1;
      }
    }
  }

  .messages {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
    .message-bubble {
      display: flex;
      &.message-sent {
        justify-content: flex-end;
        .message-text {
          background-color: $blue;
          color: $white;
        }
      }
      &.message-received {
        justify-content: flex-start;
        .message-text {
          background-color: $grey-light;
          color: $text;
        }
      }
      .message-text {
        max-width: 75%;
        border-radius: 33px;
        padding: 20px;
      }
    }
  }
}

.message-listing-window {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 115px 15px 80px 15px;
  z-index: 1;
}

.messages-top-waves {
  position: fixed;
  top: -5px;
  width: 100%;
  @media screen and (min-width: 430px) {
    top: -20%;
  }
}